.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navDiv{
  width: 1280px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 29px;
}

.navLogo{
  width: 179px;
  height: 52px;
  flex-shrink: 0;
}

.navLinks{
  display: flex;
  gap: 40px;
}

.navIcon{
  height: 30px;
  flex-shrink: 0;
}

.navLine{
  width: 100%;
  height: 2px;
  background: #ACACAC;
}